.admin__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(55, 55, 55);
  min-height: 100vh;
  padding-top: 120px;
  box-sizing: border-box;
  margin-bottom: -230px;
  padding-bottom: 350px;
  padding-left: 20px;
  padding-right: 20px;
}
.admin__page__content {
  z-index: 3;
}
.admin__user__table {
  background: #fff;
  border: solid 2px #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  z-index: 3;
}
.approve__button {
  background: #aaa;
  border-radius: 10px;
  border: solid 2px #000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: #000;
  min-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Saira";
}
.admin__control__button {
  width: 200px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Saira";
  border-radius: 5px;
}
.approve__button:hover {
  transition: all 0.5s;
  background-color: #fff;
}
.approve__button:disabled {
  background: #888;
  cursor: default;
}
.approve__button:disabled:hover {
  background: #888;
}
.red__icon {
  color: #4d0000;
}
.red__icon:hover {
  color: #b90000;
}
.concert__approve__button {
  min-width: 100px;
}
.concert__delete__button {
  width: 50px;
}
.admin__button__div {
  display: flex;
  justify-content: center;
  width: 100%;
}
.multibutton {
  justify-content: space-between;
}
.white__approve__button {
  background-color: #000;
  color: #fff;
  border: solid 2px #fff;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Saira";
}
.wrong__network__text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}

.minting__alert {
  width: 650px;
  position: absolute;
  margin-top: -100px;
  background-color: #000;
  color: #fff;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Saira";
  line-height: 50px;

  display: flex;
  flex-direction: column;
}
.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 5px;
  height: 20px;
  background: #fff;
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}
.users__table {
  padding-bottom: 20px;
}
.user__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #ddd solid;
}
.concert__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__name__entry {
  width: 220px;
}
.user__email__entry {
  width: 250px;
}
.user__wallet__entry {
  width: 200px;
  cursor: pointer;
}
.user__wallet__entry:hover {
  text-decoration: underline;
}
.user__type__entry {
  width: 120px;
  text-transform: capitalize;
}
.user__connection__entry {
  width: 120px;
  text-transform: capitalize;
}
.user__reg__date__entry {
  width: 200px;
}
.concert__table__container {
  background: #fff;
  border-radius: 2px solid #000;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10px;
}
.approved__concert__name {
  width: 250px;
}
.approved__concert__price {
  width: 100px;
}
.approved__concert__minted {
  width: 120px;
}
.approved__concert__icon {
  width: 50px;
}
.admin__pt__icons {
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 100px;
}
.admin__pl__icon {
  background: #b90000;
}
.user__pt__entry {
  width: 80px;
}
.tx__review__div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  background: #fff;
  border: solid #b90000 3px;
  text-align: center;
  padding: 20px;
}
.payout__concert__thumbnail {
  min-height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.table__hide__mobile {
  display: inline;
}
@media screen and (max-width: 725px) {
  .wrong__network__text {
    font-size: 14px;
  }
  .minting__alert {
    width: 330px;
  }
  .concert__play__button {
    width: 50px;
  }
  .header__play__button {
    width: 50px;
  }
  .approve__button {
    min-width: 120px;
  }
  .white__approve__button {
    min-width: 120px;
  }
  .user__name__entry {
    width: 100px;
  }
  .user__wallet__entry {
    width: 50px;
  }
  .user__email__entry {
    width: 50px;
  }
  .table__hide__mobile {
    display: none;
  }
}
@media screen and (min-width: 726px) {
  .table__wallet__icon {
    display: none;
  }
}
