.payout__header {
  display: flex;
  justify-content: space-between;
}
.payout__highlight {
  width: 30%;
  max-width: 350px;
  background: #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}
.final__highlight {
  margin-right: 0px;
}
.add__payout__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-direction: column;
}
.payout__form__div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.highlight__res {
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.payout__num__input {
  width: 15%;
}
.payout__text__input {
  width: 35%;
}

.payouts__container {
  padding-top: 20px;
  z-index: 3;
}
.user__row {
  display: flex;
  justify-content: space-between !important;
  text-align: center;
}
