.my__text__area {
  text-align: center;
  font-family: "Oxygen";
  font-size: 16px;
  width: 100%;
  border: solid 1px #000;
  border-radius: 5px;
  margin-bottom: -03px;
  margin-top: 01px;
  padding-top: 05px;
  box-sizing: border-box;
  resize: none;
}
.cd__input {
  margin-bottom: 07px;
}
.placeholder__option {
  color: #888;
}
.valid__option {
  color: #000;
}
.cd__button {
  margin-top: 7px;
}
.recording__type__star {
  margin-left: 10px;
  margin-top: 148px;
  z-index: 10;
}
