.with__emp {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}
.review__content__div {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}
.col1 {
  max-width: 315px;
  text-align: center;
  background: #222;
  border: solid #444 2px;
  padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}
.col1 h3 {
  padding-bottom: 5px;
}
.col2 {
  max-width: 315px;
  text-align: center;

  text-align: center;
  background: #bbb;
  border: solid #444 2px;
  padding-top: 10px;
  border-radius: 10px 10px 0px 0px;
  color: #000;
}
.col2 h3 {
  padding-bottom: 5px;
}
.token__div {
  max-width: 315px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #bbb;
  border: solid #444 2px;
  border-radius: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: max-content;
}
.token__box {
  border-radius: 20px;
  max-width: 300px;
  min-width: 300px;
  height: 470px;
  border: solid #000 4px;
  overflow: hidden;
  font-family: "Saira";
  align-self: center;
  background: #000;
}
.token__header {
  display: flex;
  height: 50px;
  background: #000;
  color: #fff;
}
.token__heading {
  padding-bottom: 10px;
}
.first__third {
  display: flex;
  width: 33%;
  text-align: left;
  justify-content: flex-start;
  font-size: 12px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 0px;
}
.last__third {
  display: flex;
  width: 33%;
  text-align: right;
  justify-content: flex-end;
  font-size: 12px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 15px;
}
.token__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000;
  min-height: 120px;
  justify-content: flex-start;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
}
.token__logo {
  align-self: center;
  width: 150px;
  padding-top: 08px;
}
.col__thirds {
  display: flex;
  width: 33%;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  padding-top: 15px;
}
.missing__tab {
  height: 12px;
  width: 80%;
  background: #fff;
  border-radius: 10px;
  margin-top: 3px;
  box-shadow: inset 0 -5px 10px #555;
}
.token__thumbnail__box {
  margin: 0px;
  padding: 0px;
  height: 300px;
  background-color: #222;
}
.token__concert__name {
  width: 100%;
  border-bottom: solid #555 2px;
  font-size: 16px;
  padding: 4px;
}
.token__artist__name {
  font-size: 14px;
}
.text__info__div {
  inline-size: 300px;
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow-wrap: break-word;
  font-size: 16px;

  white-space: normal;
  max-height: 520px;
  max-width: 315px;
  font-family: "Saira";
  border: solid #000 2px;
  border-radius: 10px;
  overflow: hidden;
}
.text__info__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
  justify-content: center;
  background: #222 !important;
  color: #fff;
}
.text__info__scroll__area {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 500px;
  background: #fff;
}
.text__info__scroll__area p {
  overflow-wrap: break-all;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-top: solid #888 1px;
  font-size: 12px;
}
.my__columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.confirmation__button__div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.no__overflow {
  overflow-wrap: nowrap;
  text-overflow: ellipsis;
}
.song__div {
  display: flex;
  width: 315px;
  background: #ccc;
}
.song__div p {
  width: 100%;
  padding-left: 10px;
  padding-top: 03px;
  padding-bottom: 3px;
}
.song__emp {
  margin-left: 0px;
}
.song__num {
  padding-left: 15px;
  max-width: 20px;
}
.song__name {
  background: #fff;
  font-weight: bold;
}
.setlist__title {
  background: #ccc;
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
  padding: 5px;
}
.keep__left {
  text-align: left;
  padding-top: 5px;
  white-space: nowrap;
  line-height: 21px;
}
.c__price__in__usd {
  padding-left: 5px;
  color: #888;
}
.c__eth__logo {
  padding-right: 3px;
  margin-top: 2px;
  margin-bottom: -2px;
}
.c__confirm__button {
  width: 320px;
}
.c__back__button {
  width: 320px;
}
.no__promo__clip {
  padding-top: 80px;
  background: #333;
  height: 120px;
  color: #fff;
  padding-bottom: 0px;
  font-size: 14px;
  width: 315px;
}
.pad__me {
  padding-bottom: 50px;
}

.my__button {
  cursor: pointer;
}
.review__content__div video {
  min-height: 200px;
  max-height: 200px;
}

.admin__panel {
  background-color: #888;
  padding: 10px;
  margin-top: 10px;
  border-radius: 20px;
}
.admin__button {
  max-width: 48%;
}
.admin__upload__box {
  min-width: 300px;
  align-self: center;
}
.upload__token__pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.token__preview__img {
  max-width: 310px;
}
.bottom__center {
  background-color: #888 !important;
}
.token__image__heading {
  font-size: 22px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 5px;
  height: 20px;
  background: #fff;
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}
@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.listing__status__div {
  width: 100%;
  background-color: #aaa;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: #000;
  font-family: "Saira";
  margin-top: 10px;
}

.minting__alert {
  width: 650px;
  position: absolute;
  margin-top: -100px;
  background-color: #000;
  color: #fff;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Saira";
  line-height: 50px;

  display: flex;
  flex-direction: column;
}
.flex__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.approve__button {
  margin-top: 10px;
  background-color: #15960e;
  font-family: "Saira";
  font-weight: bold;
  padding-top: 10px;
  color: #fff;
  border: 2px solid #000;
}
.approve__button:hover {
  transition: all 0.5s;
  background-color: #0dff00;
  color: #000;
}
.approve__button:disabled {
  background-color: #444 !important;
  color: #aaa !important;
  border: none;
}
