.half__input {
  width: 150px;
}
.two__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ti__button {
  margin-top: 14px;
}

.price__eth__logo {
  position: absolute;
  margin-top: -42px;
  padding-bottom: 0px;
  margin-left: -135px;
  pointer-events: none;
}
.eth__to__usd {
  width: 150px;
  pointer-events: none;
  position: absolute;
  margin-top: -38px;
  margin-left: 150px;
  color: #888;
  text-align: right;
}
.supply__star {
  margin-left: 10px;
  margin-top: 36px;
}
.price__star {
  margin-left: 10px;
  margin-top: 88px;
}
.resale__fee__star {
  margin-left: 10px;
  margin-top: 143px;
  z-index: 3;
}
.drop__date__star {
  margin-left: 10px;
  margin-top: 200px;
  z-index: 3;
}
.privacy__star {
  margin-left: 10px;
  margin-top: 256px;
  z-index: 3;
}
