.sc-bcXHqe {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

  padding: 8px 8px 8px 8px;

  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 0;
  flex-grow: 0;
  z-index: 2 !important;
  position: relative;
}
.file-types {
  min-width: 280px;
  max-width: 310px;
  display: block;
  flex-direction: column;
}
.sc-hKMtZM {
  min-width: 280px;
  display: block;
  flex-direction: column;
}
.sc-dkzDqf {
  flex-direction: column;
}
.center__title {
  margin-top: 122px;
  margin-bottom: -150px;
  z-index: 20;
  position: relative;
  pointer-events: none;
}
.float__title {
  z-index: 5;
  position: relative;
  max-width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 26px;
}
.fVfcRr {
  display: none;
  font-size: 0px;
}
.upload__box__top {
  font-size: 16px;
  padding-top: 05px;
}
.upload__box__bottom {
  margin-top: 225px;
  font-size: 12px;
}
.highlight {
  text-decoration: underline;
}
.upload__box__modified {
  width: 100%;
  height: 260px;
}
.uploader__box {
  background-color: #fff;
  border: dashed #888 2px;
  border-radius: 5px;
  margin-bottom: 08px;
  min-height: 200px;
  height: fit-content;
}
.uploader__box:hover {
  border-color: #333;

  transition: all 0.5s;
}
.uploader__box input {
  min-height: 200px;
}
.login__button:disabled {
  background-color: #888;
  color: #ccc;
  pointer-events: none;
  transition: 0.5s;
}
.login__button:disabled:hover {
  font-weight: 500;
}
/* .upload__progress {
  position: absolute;
  justify-self: center;
  width: 100%;
  padding-top: 5px;
} */
.upload__star {
  margin-top: 30px;
  margin-left: 10px;
}
