.countdown__banner__div {
  margin-bottom: 250px;
  padding-bottom: 40px;
  margin-top: -450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown__banner__content {
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  min-width: 300px;
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
}
.countdown__bkg__cover {
  background: #33333380;
}
.countdown__banner__header {
  font-size: 20px;
  padding-bottom: 20px;
}
.countdown__banner__title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.no__grow__poster {
  pointer-events: none;
}
.schedule__image {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.schedule__image:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 800px) {
  .schedule__image {
    content: url("https://firebasestorage.googleapis.com/v0/b/nftconcerts-v1.appspot.com/o/images%2FFabz%20IG%20Poster%20banner%20vert.jpg?alt=media&token=4374472b-72fa-416c-ab61-ab8e0b671a92");
  }
}
