.row {
  color: #fff;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 40px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 350px;
  transition: transform 450ms;
  margin-right: 20px;
  border-radius: 10px;
}

.row__poster:hover {
  transform: scale(1.05);
}

.row__posterLarge {
  max-height: 500px;
}

.row__posterLarge:hover {
  transform: scale(1.07);
}
.video__player {
  transition: all 450ms;
}

.click__preview {
  text-align: center;
  background: #000;
  width: 100%;
  z-index: 10;
  margin-bottom: 10px;
}
.preview__title {
  padding-top: 20px;
  padding-bottom: 5px;
}
.performance__info {
  padding-bottom: 20px;
}

.row__title {
  margin-left: 40px;
}

.row__col1 {
  width: 600px;
  vertical-align: center;
}
.row__col2 {
  flex: 100%;
}

.row1 {
  margin-top: -200px;
}
.description {
  text-align: left;
  margin-left: 30px;
  padding-bottom: 20px;
  width: 600px;
}

.blow__up {
  font-size: 30px;
}
.thirds {
  min-width: 200px;
  text-align: center;
  padding-top: 20px;
}
.halfs {
  min-width: 300px;
}
.price.p {
  font-size: 26px;
}
.buttons__box {
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}
.converted__currency {
  color: #777;
}
.three__col {
  display: flex;
  justify-content: center;
}
.emph {
  font-size: 20px;
}
.two__col {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 700px) {
  .thirds {
    min-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 2px #fff;
    padding-top: 5px;
    margin-top: 0px;
  }
  .halfs {
    min-width: 0px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;

    padding: 10px 10px 10px 10px;
  }
  .price {
    border-right: none;
  }
  .venue {
    border-right: none;
  }
  .preview__button {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border-radius: 5px;
  }
  .preview__buttons__box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  .two__col {
    padding-top: 0px;
  }
}
.row__media__player {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000000;
  min-height: 200px;
  max-height: 40vh;
  justify-content: center;
  object-fit: scale-down;
  box-sizing: border-box;
}
.row__media__player video {
  max-height: 40vh;
}
