.top__footer {
  padding: 20px 30px 20px 30px;
  display: flex;
  min-height: 400px;
  text-align: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.center__logo {
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.center__prompt {
  padding: 7px;
  background: #000;
  border-radius: 10px;
  margin-bottom: 110px;
  width: 50%;
  min-width: 350px;
  max-width: 600px;
  z-index: 3;
}
.center__prompt__center {
  background: #fff;
  color: #000;
}
.prompt__button {
  margin-top: 50px;
}
.prompt__text {
  font-size: 40px;
  padding-top: 20px;
}
.footer__highlights {
  display: flex;
}
.footer__top__fade {
  display: block;
  width: 100%;
  height: 200px;
  margin-top: -150px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), #333);
  pointer-events: none;
}
.footer__top__cover {
  background: #3333338a;
  height: 150px;
  width: 100%;
}
.no__wrap__button {
  white-space: nowrap;
}
@media screen and (max-width: 725px) {
  .buttons__box {
    flex-direction: column;
  }
  .prompt__text {
    font-size: 24px;
  }
}
