.no__clip {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.promo__h3 {
  font-size: 22px;
  padding-bottom: 0px;
}
.concert__info__div {
  padding-right: 20px;
  z-index: 3;
}
.promo__clip__disclaimer {
  color: #fff;
  text-align: center;
  padding: 10px;
  background: #111;
  box-sizing: border-box;
}
.c__token__info__div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: #111;
  color: #fff;
  width: 100%;
  justify-content: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  box-sizing: border-box;
  align-items: center;
}
.c__token__info__box {
  width: 100%;
  max-width: 900px;
  display: flex;
}
.c__token__supply {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 33%;
  text-align: center;
}
.c__token__remaining {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.c__token__price {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 33%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.listing__buttons__div {
  padding-bottom: 10px;
}
.final__buy__button__div {
  width: 100%;
  padding-top: 20px;
}

.not__valid__listing__div {
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
  padding-top: 30px;
}
.buy__button__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.token__image__image {
  max-width: 308px;
  align-self: center;
}
.token__div__icons {
  max-width: 300px;
  align-self: center;
}
.token__div__icons img {
  max-height: 35px;
}

/* new stuff */
.purchased__pop__up__overlay__div {
  position: absolute;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  background: #00000099;
  z-index: 5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.purchased__pop__up__div {
  max-width: 90%;
  width: 500px;
  height: 600px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: solid 4px #000;
  box-sizing: border-box;
}
.purchased__token__img {
  max-width: 150px;
}
.close__pop__up__div {
  display: flex;
  justify-content: flex-end;
  position: asolute;
  width: 100%;
  align-items: flex-end;
  color: #999;
  margin-top: -10px;
}
.close__icon__button {
  padding: 5px;
  cursor: pointer;
}
.close__icon__button:hover {
  transition: all 0.5s;
  color: #000;
}
.play__now__icon {
  padding-left: 20px;
}
.play__now__button {
  background: rgb(27, 172, 14);
}
.play__now__button:hover {
  background: rgb(26, 222, 8);
}
.purchased__pop__up__heading {
  font-size: 16px;
  font-family: "Saira";
  font-weight: bold;
  margin-top: -20px;
}
.purchased__title {
  font-size: 24px;
  font-family: "Saira";
  font-weight: bold;
}
.motto {
  font-size: 18px;
}
.white__eth__logo {
  margin-top: -5px !important;
}
.buy__button__box__left {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blow__up__text {
  font-size: 30px;
  font-weight: bold;
}
.no__clip__div {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#bbb, #333);
}
.no__clip__token__image {
  max-height: 200px;
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .split__col {
    flex-direction: column;
  }
  .concert__info__div {
    align-items: center;
  }
  .token__div__container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
  }
  .listing__buttons__div {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
  }
  .listing__buttons__div button {
    width: 60px;
    height: 40px;
    font-size: 20px;
  }
  .concert__info__div {
    padding-right: 0px;
  }
  .buy__button__box {
    align-items: center;
    justify-content: center;
  }
  .c__token__info__box {
  }
  .c__token__supply {
    border-left: 2px #fff solid;
    border-right: 2px #fff solid;
    font-size: 16px;
    flex-direction: column;
  }
  .c__token__remaining {
    font-size: 16px;
  }
  .c__token__price {
    font-size: 16px;
  }
  .blow__up__text {
    font-size: 20px;
  }
  .mobile__dots__center {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 801px) {
  .mobile__show {
    display: none;
  }
}
.token__div {
  z-index: 3;
}
.mobile__spacer {
  height: 60px;
  background: #000;
}
.grey {
  background: #333 !important;
}
