.listing__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #101010;
  min-height: 100vh;

  box-sizing: border-box;
  margin-bottom: -230px;
  padding-bottom: 180px;
}

.no__clip {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}
.promo__h3 {
  font-size: 45px;
  line-height: 55px;
  padding-bottom: 40px;
  text-align: left;
  font-family: "Space Grotesk";
  text-shadow: 0px 0px 10px #101010;
}
.concert__info__div {
  padding-right: 20px;
  z-index: 3;
}
.promo__clip__disclaimer {
  color: #fff;
  text-align: center;
  padding: 10px;
  background: #010101;
  box-sizing: border-box;
  margin-top: 90px;
  font-family: "Space Grotesk";
}
.c__token__info__div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-top: 40px;
  color: #fff;
  width: 100%;
  justify-content: center;

  box-sizing: border-box;
  align-items: center;
}
.c__token__info__box {
  width: 100%;
  max-width: 900px;
  display: flex;
}
.c__token__supply {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  text-align: center;
}
.c__token__remaining {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.c__token__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.under__text {
  padding-top: 20px;
}

.listing__buttons__div {
  padding-bottom: 10px;
}
.final__buy__button__div {
  width: 100%;
  padding-top: 20px;
}

.not__valid__listing__div {
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: space-between;
  padding-top: 30px;
}
.buy__button__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.token__image__image {
  width: 80%;
  max-width: 400px;
  padding-top: 30px;
  align-self: center;
  padding-bottom: 10px;
}
.token__div__icons {
  max-width: 300px;
  align-self: center;
  padding-top: 40px;
}
.token__div__icons img {
  max-height: 35px;
}

/* new stuff */
.purchased__pop__up__overlay__div {
  position: absolute;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: flex;
  background: #00000099;
  z-index: 5;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.purchased__pop__up__div {
  max-width: 90%;
  width: 500px;
  height: 600px;
  background: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: solid 4px #000;
  box-sizing: border-box;
}

.close__pop__up__div {
  display: flex;
  justify-content: flex-end;
  position: asolute;
  width: 100%;
  align-items: flex-end;
  color: #999;
  margin-top: -10px;
}
.close__icon__button {
  padding: 5px;
  cursor: pointer;
}
.close__icon__button:hover {
  transition: all 0.5s;
  color: #000;
}
.lp__play__now__icon {
  padding-left: 30px;
  font-size: 24px;
  padding-top: 3px;
}
.lp__play__now__button {
  background: rgb(27, 172, 14);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "BenchNine";
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 310px;
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  color: #fff;
  box-shadow: 0 43.5308px 31.709px rgb(7 10 30 / 11%),
    0 9.62029px 7.00767px rgb(7 10 30 / 18%);
  cursor: pointer;
  transition: all 0.5s;
  max-width: 100%;
}

.lp__play__now__button:hover {
  background: rgb(26, 222, 8);
}
.unlock__play__button:hover span {
  display: none;
}
.unlock__play__button:hover:before {
  content: "Mint to Unlock";
}
.lp__play__now__button:disabled {
  background: #33333388;
  cursor: default;
  pointer-events: all;
}
.lp__play__now__button:disabled:hover {
  background: #333333cb;
}
.purchased__pop__up__heading {
  font-size: 16px;
  font-family: "Saira";
  font-weight: bold;
  margin-top: -20px;
}
.purchased__title {
  font-size: 24px;
  font-family: "Saira";
  font-weight: bold;
}
.motto {
  font-size: 18px;
}
.white__eth__logo {
  margin-top: -5px !important;
}
.buy__button__box__left {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blow__up__text {
  font-size: 30px;
  font-weight: bold;
}
.banner__bkg {
  background-position: top center;
  background-size: cover;
}
.no__clip__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    #101010 10%,
    #10101000 70%,
    #101010 100%
  );
  background-position: top center;
  background-size: cover;
}
.no__clip__token__image {
  max-height: 200px;
  padding-bottom: 10px;
}
.lp__two__col {
  padding-top: 200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.lp__col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.lp__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.lp__buy__button {
  max-width: 100%;
  background: #000;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 43.5308px 31.709px rgb(7 10 30 / 11%),
    0 9.62029px 7.00767px rgb(7 10 30 / 18%);
}
.lp__buy__now {
  background: #b90000;
}

.lp__banner__bot__fade {
  background: linear-gradient(#10101000, #101010 80%);
  height: 200px;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}
.lp__banner__top__fade {
  background: linear-gradient(#101010 20%, #10101000 100%);
  height: 200px;
  margin-bottom: -100px;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}
.lp__poster {
  position: absolute;
  border-radius: 30px;
  margin-bottom: -100px;
  width: 350px;

  background: #333;
  box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transform: rotate(3deg);
  max-width: 350px;
  object-fit: contain;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
  margin-left: 100px;
  transition: 0.5s all;
  z-index: 2;
}
.lp__poster:hover {
  transform: rotate(1);
  transform: scale(1.05);
}
.drop__date__div {
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.drop__date__highlight {
  background: #bbb;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  box-sizing: border-box;
  border: solid 4px #000;
  line-height: 40px;
}
.drop__date__header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.lp__info__div {
  background-image: url("/public/media/pt-bkg.jpg");
  background-size: cover;
  background-position: center;
  border: solid 2px #fff;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1500px;
  align-self: center;
  padding-bottom: 50px;
  padding: 40px;
  z-index: 2;
  box-sizing: border-box;
}
.lp__info__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-image: url("/public/media/lp-bkg2.jpg");
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.lp__info__bot__fade {
  background: linear-gradient(#10101000, #101010 80%);
  height: 400px;
  margin-top: -200px;
  width: 100%;
}
.lp__info__top__fade {
  background: linear-gradient(#101010 35%, #10101000 100%);
  height: 600px;
  margin-bottom: -500px;
  width: 100%;
}
.lp__info__col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  box-sizing: border-box;
}
.lp__info__col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding-left: 40px;

  color: #fff;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.lp__info__header {
  font-family: "Space Grotesk";
  font-size: 60px;
  color: #fff;
  padding-bottom: 100px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.mint__progress__bar {
  width: 100%;
  padding-top: 20px;
}
.mint__progress {
  width: 500px;
  min-height: 30px;
  -webkit-appearance: none;
  appearance: none;
}
.mint__progress::-webkit-progress-bar {
  background: #333;
  border-radius: 10px;
  margin-bottom: -10px;
}
.tablet__info {
  width: 100%;
  border-top: 1px solid #aaa;
  padding-bottom: 20px;
  margin-top: 20px;
  display: none;
}

@keyframes aliveBar {
  0% {
    background: linear-gradient(90deg, #222, #555);
  }

  100% {
    background: linear-gradient(90deg, #f00000, #000000);
  }
}
.mint__progress::-webkit-progress-value {
  background: linear-gradient(90deg, #222, #555);
  border-radius: 10px;
  animation: aliveBar 2s ease-in-out;
}

@media screen and (min-width: 1050px) {
  .row__scroll__div__container {
    display: none;
  }
}

.mint__progress__bar__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  padding-bottom: 40px;
}
.mint__progress__bar__div {
  height: 30px;
  width: 400px;
  max-width: 80%;
  background: #55555582;
  border-radius: 100px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.copy__noti {
  padding-top: 25px;
  margin-bottom: -20px;
}
@keyframes aliveBar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.mint__progress__bar__inner {
  background: linear-gradient(90deg, #111, #333);
  border-radius: 10px;
  transition: all 1s;
  animation: aliveBar;
  animation-duration: 2s;
  -webkit-animation: aliveBar 2s ease-in-out infinite;
}
.lp__mint__progress__div {
  position: absolute;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk";
  font-size: 20px;
  color: #fff;
}
.lp__share__div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: -20px;
  margin-left: 20px;
}
@media screen and (max-width: 800px) {
  .drop__date__div {
    justify-content: center;
  }
  .split__col {
    flex-direction: column;
  }
  .concert__info__div {
    align-items: center;
  }
  .token__div__container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
  }
  .listing__buttons__div {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
  }

  .concert__info__div {
    padding-right: 0px;
  }
  .buy__button__box {
    align-items: center;
    justify-content: center;
  }
  .c__token__info__box {
  }
  .c__token__supply {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
  }
  .c__token__remaining {
    width: 33%;
    font-size: 16px;
  }
  .c__token__price {
    width: 33%;
    font-size: 16px;
  }
  .blow__up__text {
    font-size: 20px;
  }
  .mobile__dots__center {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 801px) {
  .mobile__show {
    display: none;
  }
}
.token__div {
  z-index: 3;
}
.mobile__spacer {
  height: 60px;
  background: #000;
}
.grey {
  background: #333 !important;
}
.mint__div {
  display: flex;
}
.mint__quantity__div {
  padding-top: 20px;
}

.audience__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.audience__content {
  z-index: 3;
  max-width: 2000px;
  width: 100%;
}
.audience__row {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  z-index: 5;
}

.audience__member__image {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  max-width: 300px;
  box-shadow: 0px 0px 5px #00000092;
  border: none;
}
.audience__member__div {
  padding: 5px;
  box-sizing: border-box;
}
.audience__header {
  font-size: 55px;
  text-align: center;
  font-family: "Space Grotesk";

  pointer-events: none;
  padding-bottom: 60px;
  padding-top: 30px;
  color: #fff;
}
.audience__view__button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
  transition: all 0.5s;
}
.audience__view__button:hover {
  color: #fff;
}
.audience__view__div {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  height: 30px;
  margin-bottom: -30px;
}

.list__view__div {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
}
.list__div {
  display: flex;
  width: 90%;
  max-width: 1200px;
  border: solid 3px #000;
  flex-direction: column;
  border-radius: 10px;
}
.audience__list__header {
  display: flex;
  background: #000;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  text-align: center;
}
.audience__list__div {
  display: flex;
  font-family: "Saira";
  font-size: 16px;
  border-bottom: solid #555 1px;
  align-items: center;
  background: #fff;
}
.list__token__num {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  background: #aaa;
  height: 100%;
  min-width: 60px;
}
.list__tx__date {
  width: 30%;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}
.list__audience__name {
  width: 30%;
  display: flex;
  justify-content: center;
}
.list__audience__member__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.list__audience__member__image__div {
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list__token__header {
  width: 10%;
  display: flex;
  justify-content: center;
  min-width: 60px;
}
.list__tx__date__header {
  width: 20%;
  display: flex;
  justify-content: center;
}
.list__audience__name__header {
  width: 50%;
  display: flex;
  justify-content: center;
}
.list__audience__image__header {
  width: 20%;
  display: flex;
  justify-content: center;
}
.list__tx__header {
  width: 10%;
  display: flex;
  justify-content: center;
}
.list__icon__div {
  width: 10%;
  display: flex;
  justify-content: center;
}
.expand__list__container {
  background: linear-gradient(#00000000, #000);
  height: 80px;
  margin-top: -80px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px #000 inset;
  box-sizing: border-box;
}
.expand__list__button {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #ccc;
  transition: all 0.5s;
}
.expand__list__button:hover {
  transform: scale(1.1);
  background: #000;
  color: #fff;
}
.list__disclaimer__div {
  background: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
}
@media screen and (max-width: 725px) {
  .list__audience__name {
    display: none;
  }
  .list__tx__date {
    width: 40%;
    text-align: center;
  }
  .list__audience__member__image__div {
    width: 40%;
  }
  .list__tx__date__header {
    width: 40%;
  }
  .list__audience__name__header {
    width: 40%;
  }
}

.close__list__floating__container {
  position: fixed;
  top: 110px;
  right: 10px;
}
.collapse__list__button {
  background: #666;
}
.stadium__view__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 8;
}
.empty__member {
  filter: contrast(0.9);
}
.hover__text {
  opacity: 0;
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #000000cd;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
  border-radius: 10px;
  text-shadow: 0px 0px 5px #000;
}
.not__minted__div {
  font-size: 24px;
}
.not__minted__div:hover .hover__text {
  opacity: 1;
}
.audience__list__container__div {
  display: flex;
  flex-direction: column;
}
.audience__info__div {
  font-size: 24px;
  margin-top: -10px;
  min-height: 50px;
  text-align: center;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.5s;
  z-index: 3;
  background: #000;
  max-width: 1500px;
  box-sizing: border-box;
  border: solid 2px #fff;
  border-top: none;
}

@media screen and (max-width: 725px) {
  .audience__info__div {
    font-size: 18px;
  }
}
.audprod__div {
  margin-top: -300px;
  cursor: pointer;
}
.audience__production__team__icon__div {
  height: 70px;
  width: 70px;
  position: absolute;
  border-radius: 100px;
  margin-top: -10px;
  margin-left: 250px;
  border: solid 4px #373737;
  background: #333;
  transition: all 0.5s;
  z-index: 5;
}
.audience__production__team__icon {
  width: 100%;
  border-radius: 100px;
}
.sales__div {
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale__hover__div {
  opacity: 0;
  position: absolute;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}
.sale__hover__div:hover {
  opacity: 1;
}
.hover__buyer__name {
  width: 100%;
  background: linear-gradient(#000, #00000000);
  padding-bottom: 40px;
  padding-top: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  transition: all 0.5s;
}
.hover__buyer__name:hover {
  transform: scale(1.1);
}
.hover__buyer__date {
  width: 100%;
  background: linear-gradient(#00000000, #000);
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 5px;
  padding-right: 5px;
}
.hover__date__text {
  padding-left: 10px;
}
.hover__eth__logo__div {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}
.hover__eth__logo {
  height: 30px;
  width: 30px;
  transition: all 0.5s;
}
.hover__eth__logo:hover {
  transform: scale(1.1);
}
.expand__audience__div {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.expand__audience__button {
  width: 400px;
  border-radius: 5px;
  height: 50px;
  background: #000000cc;
  cursor: pointer;
  font-size: 26px;
  font-family: "BenchNine";
  text-transform: uppercase;
  color: #fff;
  transition: all 0.5s;
  border: none;
}
.expand__audience__button:hover {
  background: #000;
}
.expand__audience__container {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9;
}
.collapse__audience__container {
  padding-bottom: 0px;
  z-index: 39;
}
.in__button__icon {
  padding-left: 20px;
}

.resale__fee__token__header {
  padding-top: 20px;
}

.apt__info__hover {
  position: absolute;
  margin-left: 270px;
  background-image: linear-gradient(#8a0101, #b90000);
  font-family: "Oxygen";
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  flex-wrap: nowrap;
  width: 20px;
  height: 50px;
  overflow: hidden;
  opacity: 1;
  z-index: 3;
  border-radius: 100px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.5s;
  white-space: nowrap;
  border: 4px solid #373737;
  color: #ccc;
}
.audprod__div:hover .apt__info__hover {
  width: 300px;
  margin-left: -15px;
}
.apt__team__hover {
  background-image: linear-gradient(#111, #444);
}
.splits__link {
  color: #fff;
  transition: all 0.5s;
}
.splits__link:hover {
  color: #ffffff88;
}
.player__percent__num {
  align-content: center;
  background: #ccc;
  font-weight: bold;
  max-width: 40px;
}
.player__split__n {
  text-align: left;
  padding-left: 10px;
}
.player__split__a {
  text-align: right;
  padding-right: 20px;
}
@media screen and (max-width: 1026px) {
  .sales__div {
    height: 170px;
    width: 170px;
  }
  .sale__hover__div {
    height: 150px;
    width: 150px;
  }
  .audience__member__image {
    height: 150px;
    width: 150px;
  }
  .list__audience__member__image {
    height: 100px;
    width: 100px;
  }
  .hover__text {
    width: 150px;
    height: 150px;
    font-size: 16px;
  }
  .hover__date__text {
    display: none;
  }
  .hover__buyer__date {
    justify-content: flex-end;
  }
  .hover__buyer__name {
    font-size: 16px;
  }
  .apt__info__hover {
    margin-left: 120px;
    height: 30px;
    font-size: 12px;
    margin-top: 0px;
  }
  .audprod__div:hover .apt__info__hover {
    width: 130px;
    margin-left: -10px;
  }
  .audience__production__team__icon__div {
    margin-left: 110px;
    height: 50px;
    width: 50px;
  }
  .audprod__div {
    margin-top: -170px;
    transition: all 0.5s;
  }
  .sales__div:hover .audprod__div {
    margin-top: -200px;
  }
  .audprod__div:hover {
    margin-top: -170px !important;
  }
}

.lp__info__columns {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  .lp__poster {
    width: 40%;
    margin-left: 0px;
  }
  .lp__concert__title {
    font-size: 50px;
  }
  .c__name {
    font-size: 28px;
  }
}
@media screen and (max-width: 700px) {
  .lp__two__col {
    padding-top: 250px;
  }
  .lp__col1 {
    width: 66%;
  }
  .lp__col2 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .no__clip__div {
    background-image: linear-gradient(90deg, #101010 0%, #10101000 200%);
  }
  .promo__h3 {
    font-size: 30px;
  }
  .lp__poster {
    margin-bottom: 200px;
    margin-top: -250px;
    margin-left: -60px;
  }
  .lp__concert__title {
    font-size: 40px;
  }
  .lp__info__columns {
    flex-direction: column;
  }
  .lp__info__col1 {
    width: 100%;
  }
  .lp__info__col2 {
    width: 100%;
    text-align: center;
    align-items: center;
    border-top: 1px solid #aaa;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  .hide__700 {
    display: none;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .tablet__hide {
    display: none;
  }
  .tablet__info {
    display: inline;
  }
}
@media screen and (max-width: 450px) {
  .promo__h3 {
    padding-top: 50px;
  }
  .lp__poster {
    margin-top: -320px;
    margin-left: -100px;
  }
  .lp__col1 {
    width: 75%;
  }
  .lp__info__div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .lp__info__col2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 300px) {
  .lp__poster {
    width: 66%;
    margin-left: -150px;
    margin-top: -400px;
  }
  .lp__two__col {
    padding-top: 330px;
  }
}
@media screen and (max-width: 800px) {
  .c__name {
    font-size: 24px;
  }
}
