.player__page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(55, 55, 55);
  min-height: 100vh;
  padding-top: 90px;
  box-sizing: border-box;
  margin-bottom: -230px;
  padding-bottom: 180px;
}
.media__player__div {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000000;
  min-height: 200px;
  max-height: 80vh;
  justify-content: center;
  object-fit: scale-down;
  box-sizing: border-box;
}
video {
  width: 100%;
  height: auto !important;
  max-height: 80vh;
}
.split__col {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 2000px;
  padding-top: 20px;
  align-self: center;
  padding-bottom: 50px;
}
.player__token__div {
  z-index: 3;
  min-width: 350px;
}
.concert__info__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Saira";
}
.c__name {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}
.owned__info {
  padding-bottom: 20px;
}
.c__detail {
  font-size: 20px;
  padding-top: 10px;
  font-weight: 500;
  color: #fff;
}
.c__icons {
  color: #b90000;
  width: 40px;
  text-align: center;
  font-size: 18px;
}
.c__description {
  margin-top: 20px;
  font-size: 20px;
}
.view__token__button {
  align-self: center;
  margin-top: 20px;
}
.player__setlist__div {
  margin-top: 20px;
  color: #000;
  background: #000;
  width: 80%;
  max-width: 600px;
  min-width: 350px;
  border: 3px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.player__setlist__title {
  text-align: center;
  background: #000;
}

.player__setlist__title {
  height: 25px;
  align-content: center;
}
.player__song__div {
  display: flex;
  justify-content: flex-start;
  border-bottom: #ccc 1px solid;
  align-content: center;
  background: #fff;
}
.player__song__num {
  align-content: center;
  background: #ccc;
  font-weight: bold;
  max-width: 25px;
}
.player__song__name {
  margin-top: 5px;
}
.player__song__div p {
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.not__valid__watcher {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  font-size: 22px;
  font-family: "Saira";
  text-align: center;
  align-items: center;
  justify-content: center;
}

.not__valid__watcher__text {
  padding-bottom: 30px;
}
.player__icon__button {
  height: 25px;
  width: 35px;
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #222;
}
.player__icon__button:hover {
  transition: all 0.5s;
  background: #ccc;
  color: #000;
}
.player__icon__button:disabled {
  background: #999999a1;
  pointer-events: none;
}
.transaction__result {
  padding-top: 10px;
  height: 25px;
  margin-bottom: -25px;
}
.transaction__result a {
  color: #ccc;
}
.transaction__result a:hover {
  transition: all 0.5s;
  color: #fff;
}
.dark__link {
  color: #333 !important;
}
.dark__link:hover {
  color: #000 !important;
}
.token__image__image {
  max-width: 308px;
  align-self: center;
}
.final__buy__button__div {
  padding-top: 20px;
}

@media screen and (max-width: 800px) {
  .split__col {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    padding-bottom: 0px;
  }
  .concert__info__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0px;
  }
  .player__token__div {
    margin-top: 20px;
  }
  .player__icon__button {
    height: 40px;
    width: 60px;
  }
  .underplayer__buttons__div {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
  }
  .player__page {
    padding-bottom: 250px;
  }
  .player__setlist__div {
    width: 350px;
  }
}
@media screen and (max-width: 1100px) {
  .split__col {
    width: 90%;
  }
}
