.no__user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  margin-top: 25px;
  font-family: "Saira";
  font-size: 20px;
}
.no__user h3 {
  font-size: 24px;
}
.account__name {
  width: 100%;
  color: #fff;
  text-align: left;
}
.account__info {
  width: 100%;
  color: #fff;
  text-align: right;
  line-height: 25px;
}
.concert__row {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #888;
  width: 100%;
  align-items: center;
}

.concert__table__headers {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #888;
  width: 100%;
  align-items: center;
  background: #000;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.concert__id {
  text-align: center;
  width: 50px;
}
.concert__thumbnail {
  display: flex;
  width: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.concert__name {
  width: 150px;
  text-align: left;
  padding-left: 10px;
}
.concert__perf__date {
  width: 190px;
}
.concert__listing__approval {
  width: 170px;
}
.concert__expand__button {
  min-width: 30px;
  color: #333;
}
.concert__play__button {
  min-width: 30px;
  color: #333;
}
.concert__token__button {
  min-width: 30px;
  color: #333;
}
.header__expand__button {
  min-width: 30px;
}
.header__play__button {
  min-width: 30px;
}
.header__token__button {
  min-width: 30px;
  color: #fff;
}

.concert__play__button:hover {
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.concert__expand__button:hover {
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.icon__button {
  color: #555;
  font-size: 16px;
  background: none;
  border: none;
}
.icon__button:hover {
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.admin__button__div {
  width: 100%;
  padding-top: 20px;
}
.admin__button {
  width: 310px;
}
.user__info__div {
  color: #000;
  font-family: "Courier";
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: -10px;
}
.name__div {
  text-align: left;
}
.wallet__div {
  text-align: right;
}
.bold__text {
  font-weight: bold;
}
.admin__date {
  width: 200px;
}
.concert__name {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  .concert__perf__date {
    display: none;
  }
  .concert__listing__approval {
    display: none;
  }
  .admin__concert__name {
    display: none;
  }
  .name__div {
    width: 50%;
    border-right: solid 1px #000;
  }

  .concert__id {
    min-width: 60px;
  }
  .admin__button {
    width: 330px;
  }
  .concert__name {
    width: 200px;
  }
}
.account__page__concert__thumbnail {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

/* //new stuff */

.concert__library {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.single__concert__container {
  width: 33%;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  justify-content: flex-start;
  align-items: center;
  border: solid 1px #000;
  padding-top: 10px;
}
.single__concert__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single__concert__image {
  width: 180px;
  cursor: pointer;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.single__concert__div:hover .single__concert__image {
  opacity: 0.5;
}
.single__concert__div:hover .hidden__play__icon {
  opacity: 1;
}
.hidden__play__icon {
  transition: 0.5s ease;
  position: relative;
  top: -180px;
  width: 100px;
  height: 50px;
  color: #000;
  font-size: 30px;
  pointer-events: none;
  margin-bottom: -40px;
  opacity: 0;
}
.single__concert__quantity {
  margin-top: -40px;
}
@media screen and (max-width: 720px) {
  .single__concert__container {
    width: 100%;
  }
}
