.user__page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #101010;
  min-height: 80vh;
}
.account__name {
  width: 100%;
  color: #fff;
  text-align: left;
}
.account__info {
  width: 100%;
  color: #fff;
  text-align: right;
  line-height: 25px;
}
.concert__row {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #888;
  width: 100%;
  align-items: center;
}

.concert__table__headers {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #888;
  width: 100%;
  align-items: center;
  background: #000;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.concert__id {
  text-align: center;
  width: 50px;
}
.concert__thumbnail {
  display: flex;
  width: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.concert__name {
  width: 150px;
  text-align: left;
  padding-left: 10px;
}
.concert__perf__date {
  width: 190px;
}
.concert__listing__approval {
  width: 170px;
}
.concert__expand__button {
  min-width: 30px;
  color: #333;
}
.concert__play__button {
  min-width: 30px;
  color: #333;
}
.concert__token__button {
  min-width: 30px;
  color: #333;
}
.header__expand__button {
  min-width: 30px;
}
.header__play__button {
  min-width: 30px;
}
.header__token__button {
  min-width: 30px;
  color: #fff;
}

.concert__play__button:hover {
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.concert__expand__button:hover {
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.icon__button {
  color: #555;
  font-size: 16px;
  background: none;
  border: none;
}
.icon__button:hover {
  transition: all 0.5s;
  color: #000;
  cursor: pointer;
}
.admin__button__div {
  width: 100%;
  padding-top: 20px;
}
.admin__button {
  width: 310px;
}
.user__info__div {
  width: 90%;
  color: #000;
  font-family: "Space Grotesk";
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.shop__now__button {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  width: 310px;
  background: none;
  color: #fff;
  font-family: "BenchNine";
  font-size: 26px;
  border: solid 1px #fff;
  cursor: pointer;
  transition: all 0.5s;
  text-transform: uppercase;
}
.shop__now__button:hover {
  background: #00000088;
}
.welcome__text {
  font-size: 40px;
  font-family: "Space Grotesk";
}
.name__div {
  width: 75%;
  text-align: left;
  padding-left: 60px;
  box-sizing: border-box;
  color: #fff;
  padding-top: 120px;
}
.wallet__div {
  text-align: right;
}
.bold__text {
  font-weight: bold;
}
.admin__date {
  width: 200px;
}
.concert__name {
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.account__page__concert__thumbnail {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.concert__library {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.single__concert__box {
  display: flex;
  width: 50%;
  max-width: 600px;
  padding-right: 20px;
  box-sizing: border-box;
  border: none;
}
.single__concert__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  background-image: url("/public/media/lib-box.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  text-align: center;
}
.single__concert__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single__concert__image {
  width: 350px;
  max-width: 90%;
  cursor: pointer;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.single__concert__qty {
  font-size: 24px;
  font-family: "Space Grotesk";
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 30px;
}

.single__concert__quantity {
  margin-top: -40px;
}
.account__info__button {
  cursor: pointer;
  transition: all 0.5s;
}
.account__info__button:hover {
  color: #444;
}
.first__letter {
  text-transform: capitalize;
}
.no__owned__shows__div {
  margin-top: 100px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}
.artist__buttons__div {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  height: 20px;
}
.artist__account__button {
  border: none;
  font-size: 16px;
  background: none;
  height: 30px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-family: "Oxygen";
  color: #000;
}
.artist__account__button:hover {
  text-decoration: underline;
}
.artist__account__button:hover .artist__button__arrow {
  color: #000;
}
.artist__button__arrow {
  color: #555;
  transition: all 0.5s;
}
.library__heading {
  font-size: 30px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.library__buttons__div {
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
}
.library__button {
  flex-wrap: nowrap;
  white-space: nowrap;
  display: flex;
  min-width: 40%;
  width: 49%;
  font-family: "BenchNine";
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  border: none;
  color: #fff;
  background: #000;
  border-radius: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  box-sizing: border-box;
}
.library__button:hover {
  background-color: #101010;
}
.library__play__button {
  background: #1bac0e;
}
.library__play__button:hover {
  background: rgb(26, 222, 8);
}
.account__image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;

  box-shadow: 0px 0px 5px #00000092;
  border: none;
}
.account__details {
  padding-top: 10px;
}
.account__image__div {
  width: 100%;
  padding-top: 100%;
  background: #fff;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.account__image__hover {
  opacity: 0;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #00000099;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.account__image__hover:hover {
  opacity: 1;
  font-size: 30px;
}

.user__banner {
  height: 300px;
  width: 95%;
  background-size: cover;
  background-position: center center;
  margin-top: 90px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -200px;
}
.user__banner__botfade {
  width: 100%;
  height: 150px;
  background-image: linear-gradient(#00000000 0%, #000 150%);
}
.user__info__box {
  background-image: url("/public/media/acct-box.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 25%;
  max-width: 450px;
  color: #fff;
  object-fit: contain;
  box-sizing: border-box;
}
.user__info__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  max-width: 350px;
}
.user__info__name {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  contain: content;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.user__info__button {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
}
.locked__info__button {
  filter: opacity(0.5);
}
.locked__info__button:hover span {
  display: none;
}
.locked__info__button:hover::after {
  content: "Join to Unlock";
}
.user__info__address {
  font-size: 20px;
}
.user__info__address a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s;
}
.user__info__address a:hover {
  color: #ffffff88;
}
.library__button__inner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.ptlead__container {
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
  box-sizing: border-box;
}
.ptlead__container__div {
  width: 100%;
  border-radius: 20px;
  background-image: url("/public/media/pt-bkg.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  font-family: "Space Grotesk";
  box-sizing: border-box;
  margin-right: 20px;
}
.ptlead__image {
  width: 50%;
  max-width: 315px;
  border-radius: 20px;
}
.ptlead__info__div {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}
.ptlead__heading {
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}
.ptlead__subheading {
  font-size: 24px;
}
.ptlead__qty {
  font-size: 24px;
}
.pt__superfan__spacer {
  width: 100%;
  height: 40px;
}
.capitalize__text {
  text-transform: capitalize;
}
.user__social__div {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.user__social__div .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background: #00000099;
  vertical-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 100px;
  margin-right: 10px;
  transition: all 0.5s;
}
.user__social__div .fa:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.small__social__div {
  width: 80%;
  justify-content: space-evenly;
  display: flex;
  padding-top: 20px;
}
.small__social__div .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background: #000000;
  vertical-align: center;
  line-height: 30px;
  color: #fff;
  border-radius: 100px;
  margin-right: 10px;
  transition: all 0.5s;
}
.small__social__div .fa:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
@media screen and (max-width: 720px) {
  .single__concert__container {
    width: 100%;
  }

  .hidden__play__icon {
    top: -180px;
  }
  .artist__buttons__div {
    margin-bottom: 10px;
  }
  .mobile__hide {
    display: none;
  }

  .library__play__now__icon {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 720px) {
  .concert__perf__date {
    display: none;
  }
  .concert__listing__approval {
    display: none;
  }
  .admin__concert__name {
    display: none;
  }
  .name__div {
    width: 70%;
  }

  .concert__id {
    min-width: 60px;
  }
  .admin__button {
    width: 330px;
  }
  .concert__name {
    width: 200px;
  }

  .account__details {
    padding-top: 6px;
    font-size: 12px;
  }
  .welcome__text {
    font-size: 30px;
  }
  .account__image__hover {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .tab__hidden__text {
    display: none;
  }
  .play__now__icon {
    padding-left: 0px;
  }
  .user__banner {
    width: 98%;
  }
  .user__info__div {
    width: 95%;
  }
  .name__div {
    padding-left: 40px;
  }
  .user__info__name {
    font-size: 20px;
  }
  .user__info__address {
    font-size: 16px;
  }
  .library__button {
    font-size: 20px;
  }
  .ptlead__heading {
    font-size: 24px;
  }
  .ptlead__qty {
    font-size: 18px;
  }
  .ptlead__subheading {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .single__concert__box {
    width: 100%;
    padding-right: 0px;
  }
  .user__info__box {
    width: 33%;
  }
  .user__info__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ptlead__container {
    padding-right: 0px;
  }
  .ptlead__container__div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .ptlead__subheading {
    padding-top: 20px;
  }
  .ptlead__qty {
    padding-top: 20px;
  }
  .ptlead__heading {
    padding-top: 20px;
  }
  .ptlead__image {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .user__info__div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .user__banner {
    width: 95%;
  }
  .user__info__box {
    width: 90%;
  }
  .name__div {
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .hide__600 {
    display: none;
  }
  .library__heading {
    text-align: center;
  }
  .user__social__div {
    opacity: 0;
    pointer-events: none;
  }
}
@media screen and (min-width: 1550px) {
  .ptlead__container__div {
    padding-left: 40px;
  }
  .ptlead__info__div {
    padding-left: 40px;
  }
}
